.linphone .window {
	border: 1px solid black;
	width: 200px;
	position: relative;
	overflow: hidden;
}

.linphone .window .error {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	right: 0px;
	background-color: #FFFFFF;
	z-index: 9999;	
	text-align: center;
	display: none;
}

.linphone .window .load {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	right: 0px;
	background-color: #FFFFFF;
	z-index: 9998;	
}

.linphone .window .tools .ui-icon {
	overflow: visible;
	text-indent: 0px;
}

.linphone .window .header {
	border-bottom: 1px solid #6666DD;
	background:
		url("ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png")
		repeat-x scroll 50% 50% #F6A828;
	height: 30px;
	line-height: 30px;
	width: 100%;
}

.linphone .window .header .text {
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 140%;
	font-weight: bold;
}

.linphone .window .composer {
	width: 100%;
	display: inline-block;
}

.linphone .window .composer input {
	vertical-align: middle;
	width: 170px;
}

.linphone .window .composer .dial-button {
	display: inline-block;
	vertical-align: middle;
	background-image: url('images/ok.png');
}

.linphone .window .teminate-button {
	display: block;
	background-image: url('images/stopcall-red.png');
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.linphone .window .tools .mic-icon {
	display: inline-block;
	background-image: url('images/microphone.png');
	margin-left: 1px;
	margin-right: 1px;
	position: relative;
}

.linphone .window .tools .mic-slider {
	display: none;
	position: absolute;
	height: 100px;
	bottom: 0px;
	margin-bottom: 100%;
	margin-left: 50%;
	left: -6px;
	width: 10px;
}

.linphone .window .tools .hp-icon {
	display: inline-block;
	background-image: url('images/headphone.png');
	margin-left: 1px;
	margin-right: 1px;
	position: relative;
}

.linphone .window .tools .hp-slider {
	display: none;
	position: absolute;
	height: 100px;
	bottom: 0px;
	margin-bottom: 100%;
	margin-left: 50%;
	left: -6px;
	width: 10px;
}

.linphone .window .tools .bell-icon {
	display: inline-block;
	background-image: url('images/bell.png');
	margin-left: 1px;
	margin-right: 1px;
	position: relative;
}

.linphone .window .tools .bell-slider {
	display: none;
	position: absolute;
	height: 100px;
	bottom: 0px;
	margin-bottom: 100%;
	margin-left: 50%;
	left: -6px;
	width: 10px;
}

.linphone .window .tools .settings-icon {
	display: inline-block;
	background-image: url('images/settings.png');
	margin-left: 1px;
	margin-right: 1px;
	position: relative;
}

.linphone .window .tools .settings-menu {
	display: none;
	bottom: 0px;
	right: 0px;
	position: absolute;
	margin-bottom: 100%;
}

.linphone .window .tools .locales-menu {
	display: none;
	bottom: 0px;
	right: 0px;
	position: absolute;
	margin-right: 100%;
}

.linphone .window .tools .settings-menu .ui-icon {
	width: 100%;
	vertical-align: middle;
}

.linphone .window .tools .ui-menu-item .ui-state-selected {
	color: #1c94c4;
	text-decoration: none;
}

.linphone .window .tools .ui-menu-item .ui-icon {
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	padding-top: 2px;
	display: inline;
}

.linphone .window .tools .settings-menu .accounts-icon {
	background-image: url('images/account.png');
}

.linphone .window .tools .settings-menu .locales-icon {
	background-image: url('images/language.png');
}

.linphone .window .tools .settings-menu .media-icon {
	background-image: url('images/media.png');
}

.linphone .window .tools .settings-menu .codecs-icon {
	background-image: url('images/codecs.png');
}

.linphone .window .footer {
	border-top: 1px solid #BBBBDD;
	position: absolute;
	bottom: 0px;
	background-color: #DDDDFF;
	height: 20px;
	line-height: 20px;
	width: 100%;
}

.linphone .window .status {
	font-size: 10px;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
}

.linphone .window .tools {
	margin-top: 2px;
	margin-right: 5px;
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 0px;
}

.linphone .window .tabs {
	
}

.linphone .window .tabs a:focus {
	outline: 0px;
}

.linphone .window .tabs .tab {
	height: 100%;
}

.linphone .window .content {
	background-color: #FFFFFF;
	width: 100%;
	height: 150px;
	margin-bottom: 20px;
}

.linphone .window .content .ui-scrollable-tabs {
	height: 100%;
}

.linphone .window .options {
	top: 0px;
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #FFFFFF;
	filter: alpha(opacity =             80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

.linphone .window .options .close {
	position: absolute;
	top: 2px;
	right: 2px;
	padding: 1px;
}

.ui-menu .ui-menu-item a {
	cursor: pointer;
}