
.linphone .window {
	border: 1px solid black;
	width: 200px;
	height: 200px;
	position: relative;
	overflow: hidden;
}

.linphone .window .header {
	border-bottom: 1px solid #6666DD;
	background: url("ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828;
	height: 30px;
	line-height: 30px;
	width: 100%;
}

.linphone .window .header .text {
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 140%;
	font-weight: bold;
}

.linphone .window .composer {
	width: 100%;
	display: inline-block;
}

.linphone .window .composer input {
	vertical-align: middle;
}

.linphone .window .teminate-button  {
	display: block;
	background-image: url('images/stopcall-red.png');
	background-size: 32px 32px;
	width: 32px;
	height: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.linphone .window .composer .dial-button {
	display: inline-block;
	vertical-align: middle;
	background-image: url('images/ok.png');
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
}

.linphone .window .mic-icon {
	display: inline-block;
	background-image: url('images/microphone.png');
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
}

.linphone .window .mic-slider {
	display: none;
	position: relative;
	height:100px;
	top:-102px;
	left:3px;
}

.linphone .window .hp-icon {
	display: inline-block;
	background-image: url('images/headphone.png');
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
}

.linphone .window .hp-slider {
	display: none;
	position: relative;
	height:100px;
	top:-102px;
	left:3px;
}

.linphone .window .status {
	border-top: 1px solid #BBBBDD;
	position: absolute;
	bottom: 0px;
	background-color: #DDDDFF;
	height: 20px;
	line-height: 20px;
	width: 100%;
}

.linphone .window .status .text {
	font-size: 10px;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
}

.linphone .window .status .tools {
	float: right;
	margin-top: 2px;
	margin-right: 5px;
}

.linphone .window .tabs {
	
}

.linphone .window .tabs a:focus {
	outline: 0px;
}

.linphone .window .tabs .tab {
	height: 100%;
}

.linphone .window .content {
	background-color: #FFFFFF;
	width: 100%;
}